<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration</h1>

        <form name="registrationform" ng-submit="registrationform.$valid && ctrl.onSubmit()" novalidate>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input id="email" name="email" type="email" placeholder="xyz@domain.com" class="form-control" ng-model="ctrl.user.email" required/>
            <div class="validation" data-ng-show="registrationform.email.$touched || registrationform.$submitted">
                <div data-ng-show="registrationform.email.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> Email is required
                </div>
                <div data-ng-show="registrationform.email.$error.email">
                    <span class="glyphicon glyphicon-alert"></span> Email is invalid
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="something secret" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
            <div class="validation" data-ng-show="registrationform.password.$touched || registrationform.$submitted">
                <div data-ng-show="registrationform.password.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> Password is required.
                </div>
                <div data-ng-show="registrationform.password.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 characters.
                </div>
                <div data-ng-show="registrationform.password.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span> Password must be alphanumeric, include special characters and consist both upper and lower case.
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input id="confirmpassword" name="confirmpassword" type="password" placeholder="something secret" class="form-control" ng-model="ctrl.user.confirmpassword" required ng-required="ctrl.user.password"/>
            <div class="validation" data-ng-show="registrationform.confirmpassword.$touched || registrationform.$submitted">
                <!--
                <div data-ng-show="registrationform.confirmpassword.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> Please re-type password.
                </div> -->

                <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                    <span class="glyphicon glyphicon-alert"></span> Password does not match.
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" name="fullName" type="text" placeholder="Katie Brennan" class="form-control" ng-model="ctrl.user.fullName"/>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <br/>
            <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M" />Male
            <br/>
            <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F" ng-checked="true" />Female
            <div class="validation" data-ng-show="ctrl.user.gender == 'M' || registrationform.gender.$untouched && ctrl.onlyFemale() == false">
                <span class="glyphicon glyphicon-alert"></span> Female Only
            </div>

        </div>

        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input id="dob" name="dob" type="date" class="form-control" ng-model="ctrl.user.dob"/>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address"/>
        </div>

        <div class="form-group">
            <label for="nationality">Nationality</label>
            <select ng-model="ctrl.user.selectedNationality" id="nationality" class="form-control">
                <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality.value}}">{{nationality.name}}</option>
 
            </select>
        </div>

        <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <input id="contactNumber" name="contactNumber" type="number" class="form-control" ng-model="ctrl.user.contactNumber" required/>
            <div class="validation" data-ng-show="registrationform.contactNumber.$touched || registrationform.$submitted">
                 <div data-ng-show="registrationform.contactNumber.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> Contact number is required.
                </div>
                <div data-ng-show="registrationform.contactNumber.$error.number">
                    <span class="glyphicon glyphicon-alert"></span> Contact number is invalid (e.g. 88888888).
                </div>
    
            </div>
        </div>
        
        <div class="form-group">
            <hr/>
            <input id="submit" name="submit" type="submit" class="btn btn-success" />
            <button type="reset" class="btn btn-default" ng-click="ctrl.onReset()">Reset</button>
        </div>


        </form>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>

        <!-- refactor app.js to app.module.js and app.controller.js -->
        <script src="/app/app.module.js"></script>
        <script src="/app/app.controller.js"></script>
</body>

</html>